.btn {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
}

.btn-secondary {
    background-color: rgb(3, 32, 77);
    color: rgb(215, 215, 215);
}